@use "../abstracts/helper" as h;

header {
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: 1.5rem 0;
  transition: padding 0.2s ease-in-out, backgroun-color 0.2s ease-in-out;

  .nav-list,
  .header-wrapper {
    gap: 2.5rem;
    @extend .flexRow-between;
  }
}

.sticky {
  padding: 2.5rem 0;
  box-shadow: h.$box-shadow-md;
  background-color: h.$color-light-100;
}

.show {
  left: 0 !important;
}

.hide {
  left: -25% !important;
}

.nav-list {
  .nav-item {
    display: flex;
    position: relative;
  }
  .nav-link {
    font-weight: 600;
    padding: 1.5rem 0;
    color: h.$color-text-primary;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      width: 100%;
      left: 0;
      bottom: 0;
      height: 0.2rem;
      position: absolute;
      transform: scaleX(0) translateY(0.5rem);
      transform-origin: left center;
      background-color: h.$color-primary;
      transition: transform 0.5s ease-in-out;
    }

    &:hover {
      color: h.$color-primary;

      &::before {
        background-color: h.$color-primary;
        transform: scaleX(1) translateY(0.5rem);
      }
    }
  }
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  display: none;
  cursor: pointer;
  @extend .flexColumn-around;

  .line {
    width: 3rem;
    height: 0.2rem;
    transition: width 0.3s ease-in-out;
    background-color: h.$color-Dark-800;
  }

  &:hover .line {
    &:first-child {
      width: 25%;
    }

    &:nth-child(2) {
      width: 50%;
    }
  }
}

.sidebar {
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 999;
  transition: left 0.3s ease-in-out;
  background-color: h.$color-secondary;

  nav {
    margin: 18rem 0 0 4rem;

    .sidebar-item {
      display: flex;
    }

    .sidebar-link {
      font-weight: 600;
      padding: 1.5rem 0;
      color: h.$color-light-100;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateX(0.6rem);
      }
    }
  }

  svg {
    fill: h.$color-light-100;
  }

  .sidebar-wrapper {
    height: 100%;
    padding: 3rem 5rem;
    @extend .flexColumn-start;
  }

  .sidebar-logo {
    @extend .flexRow-between;
  }

  .nav-list {
    @extend .flexColumn-around;
  }
}

// ----- Media Queries -------------------------------------------------------------------

@media screen and (max-width: 1024px) {
  header {
    .primary-navigation {
      display: none;
    }
  }
  .hamburger-menu {
    display: flex;
  }

  .sidebar {
    width: 100%;
    left: -100%;

    .sidebar-wrapper {
      padding: 2rem 3rem;
    }
  }

  .hide {
    left: -100% !important;
  }
}
